# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE
/.idea
/.vscode
/.cursor
*.swp
*.swo
.DS_Store
/.claude
/.bmad
/.playwright-mcp
/_bmad-output
/_bmad
/AGENTS.md
/CLAUDE.md

# Claude Code
/.claude/settings.local.json

# Testing
/coverage
/.phpunit.cache

# Build
/dist
node_modules

#clients
clients-create-page.png
clients-list-page.png
